<div class="container">
  <article>
    <div id="theme1">
      <h1 class="alert alert-danger">見出し1</h1>
      <ul class="row">
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-1</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-2</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-3</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-4</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-5</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-6</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-7</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-8</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-9</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-10</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-11</li>
          <li class="col-xs-12 col-sm-6 col-md-3">contents1-12</li>
      </ul>
    </div>
  </article>
  <article>
    <div id="theme2">
      <h1 class="alert alert-info">見出し2</h1>
      <ul class="row">
          <li class="col-xs-8 col-sm-4 col-md-2">contents2-1</li>
          <li class="col-xs-8 col-sm-4 col-md-2">contents2-2</li>
          <li class="col-xs-8 col-sm-4 col-md-2">contents2-3</li>
          <li class="col-xs-8 col-sm-4 col-md-2">contents2-4</li>
          <li class="col-xs-8 col-sm-4 col-md-2">contents2-5</li>
          <li class="col-xs-8 col-sm-4 col-md-2">contents2-6</li>
          <li class="col-xs-8 col-sm-4 col-md-2">contents2-7</li>
          <li class="col-xs-8 col-sm-4 col-md-2">contents2-8</li>
      </ul>
    </div>
  </article>
</div>
<div class="toBlogIndex"><span class="label label-danger"><%= link_to "ブログ一覧画面へ", blogs_path %></span></div>
